{% extends 'backoffice.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <h2>Ajouter Technologie</h2>
                {{ form_start(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.image) }}
                {{ form_row(form.type) }}
                <br>
                {{ form_row(form.submit, { 'label': 'Ajouter' }) }}
                {{ form_end(form) }}
            </div>
            <div class="col-lg-6 col-xs-12">
                <h2>Technologies déjà présentes</h2>
                {% for techno in techno %}
                    <p>{{ techno.nom }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock%}
