{% extends 'backoffice.html.twig' %}

{% block content %}
    <h2>Modifier Techno</h2>

    {{ form_start(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.image) }}
    {{ form_row(form.type) }}
    {{ form_row(form.submit) }}

    {{ form_end(form) }}

{% endblock%}